openapi: 3.0.0
info:
  description: This file contains the 3 Swagger docs for assignment 5. Use "shivam" as username, and "abcd1234" as password to get authenticated.
  version: 1.0.0
  title: Swagger Docs for Assignment 5
  contact:
    email: shivam@oregonstate.edu
tags:
  - name: auth
    description: Endpoint for authentication
  - name: greeting
    description: Endpoint for greeting
  - name: weather
    description: Endpoint for weather
paths:
  /auth:
    post:
      tags:
        - auth
      summary: Enter a username and password to get a mock token
      description: ""
      operationId: get_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthInput"
        description: Username and password of the user
        required: true
      responses:
        "200":
          description: successful operation
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AuthOutput"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
  /hello:
    get:
      tags:
        - greeting
      summary: Get a nice greeting from Shivam
      description: ""
      operationId: get_greeting
      security:
        - BearerAuth: []
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Greeting"
        "400":
          description: Invalid token format
        "401":
          description: Unauthorized
  /weather:
    get:
      tags:
        - weather
      summary: Find the weather of Corvallis
      description: ""
      operationId: get_weather
      security:
        - BearerAuth: []
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                      lat:
                        type: number
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        main:
                          type: string
                        description:
                          type: string
                        icon:
                          type: string
                  base:
                    type: string
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                      feels_like:
                        type: number
                      temp_min:
                        type: number
                      temp_max:
                        type: number
                      pressure:
                        type: number
                      humidity:
                        type: number
                      sea_level:
                        type: number
                      grnd_level:
                        type: number
                  visibility:
                    type: number
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                      deg:
                        type: number
                      gust:
                        type: number
                  clouds:
                    type: object
                    properties:
                      all:
                        type: number
                  dt:
                    type: number
                  sys:
                    type: object
                    properties:
                      type:
                        type: number
                      id:
                        type: number
                      country:
                        type: string
                      sunrise:
                        type: number
                      sunset:
                        type: number
                  timezone:
                    type: number
                  id:
                    type: number
                  name:
                    type: string
                  cod:
                    type: number
        "400":
          description: Invalid token format
        "401":
          description: Unauthorized
servers:
  - url: http://ec2-54-237-222-107.compute-1.amazonaws.com:3000/v1
  - url: https://ec2-54-237-222-107.compute-1.amazonaws.com:3000/v1
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Greeting:
      type: object
      properties:
        message:
          type: string
    AuthInput:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    AuthOutput:
      type: object
      properties:
        access-token:
          type: string
        expires:
          type: string
